fire
tqdm
numba
numpy
scipy
psutil
cython
pandas
ipython
matplotlib
torchvision==0.11.1
torchaudio==0.10.0
torch-sparse==0.6.12 -f https://data.pyg.org/whl/torch-1.10.0+cpu.html
torch-scatter==2.0.9 -f https://data.pyg.org/whl/torch-1.10.0+cpu.html
torch-cluster==1.5.9 -f https://data.pyg.org/whl/torch-1.10.0+cpu.html
torch-geometric==2.0.2 -f https://data.pyg.org/whl/torch-1.10.0+cpu.html
sphinx
sphinx-autobuild
sphinx_rtd_theme
